@import url("./keyloggerStyles.css");

.btn-submit {
    min-width: 100px;
    background-color: #008CBA;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 3px;
}

.card {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 6px 6px 27px #e1e1e3, -6px -6px 27px #ffffff;
    border: 1px solid #e5e3e3;
    max-height: 250px;
    overflow: auto;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.form-item {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input {
    border-radius: 3px;
    border: 1px solid #ddd;
    min-width: 200px;
    padding: 5px;
}

